<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="clientId" value="600200127"/>
    <add key="storeKey" value="TEST1234"/>
    <add key="gateway_Url" value="https://test-sahampay.cmi.co.ma/fim/est3Dgate"/>
    <add key="okUrl" value="https://www.nom_de_domaine.com/Ok.aspx"/>
    <add key="failUrl" value="https://www.nom_de_domaine.com/Fail.aspx"/>
    <add key="shopurl" value="https://www.nom_de_domaine.com"/>
    <add key="callbackUrl" value="https://www.nom_de_domaine.com/Callback.aspx"/>
    <add key="action" value=""/>
  </appSettings>
  <!--
    Pour obtenir une description des modifications de web.config, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>